<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="consoleEndpoint" address="net.tcp://localhost:8090/UserManagingService" binding ="netTcpBinding" contract ="ManualWcf.Common.IUserManagingService" />
      <!--<endpoint name="webEndpoint" address="http://localhost:8091/UserManagingService.svc" binding ="wsHttpBinding" contract ="ManualWcf.Common.IUserManagingService" />-->
    </client>
  </system.serviceModel>
</configuration>